body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
   /* overflow-x: hidden;  Prevent horizontal scrollbar */
}
.main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
}
.redtop{
    width:100%;
    height:15%;
    background-color: #CD5C5C;
}
.box{
    width: 80%;
    height: 60%;
    border-radius: 0 0 0 0;
    background-color: #FFFFFF;
    
    margin-left: 10%;
    overflow-y: auto;
    justify-content: baseline;
}
.semi-circle{
    width: 130px;
    height: 110px;
    top: -1px;
    margin-left: -4%;
    
    
    border-radius: 50%;
    background-color: #FFFFFF;

}
.semi-circle1{
    border-radius: 50%;
    background-color:whitesmoke;
    margin-top:3%;
    margin-left:2%;
    width:170px;
    height:170px
}
.text1{
    
    font-family:Arial, Helvetica, sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 65.15px;

width: 294px;
height: 65px;
margin-top: -6%;
margin-left: 1.7%;


}
.basictxt{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 18px;
    
    
}
.login{
    width: 93px;
height: 44px;
margin-top: -5%;
margin-left: 43%;
gap: 0px;
opacity: 0px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 25px;
font-weight: 700;
line-height: 43.95px;
text-align: center;

}

.login-container{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 13px 10px rgba(0, 0, 0, 0.1);
    
    width: 35%;
    height: 40%;
    margin-top: 5%;
    margin-left: 30%;
}
.login-form label{
    display: block;
    margin: 30px 20px 15px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.login-form input{
    position: absolute;
    width: 27%;
    height: 25px;
    margin-top: -2.8%; /* Remove negative margin-top */
    margin-left: 8%;
    line-height: 10px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black; /* Specify border style */
    opacity: 1;
}
.box label{
    
    
    margin: 30px 18px 10px 0px;
    margin-left: 2%;
    font-size: 20px;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box input{

    width: 20%;
    height: 25px;
    margin-top: 1.9%; /* Remove negative margin-top */
    margin-left: 0%;
    line-height: 10px;
    padding: 8px;
    border-radius: 0px;
    border: 1px solid black; /* Specify border style */
    opacity: 1;
}
.box select{
    border-radius: 0px;
    border: 1px solid black;
    height: 53%;
}

.login-form button{
    width: 20%;
height: 30px;
margin-top: 5%;
margin-left:43%;
gap: 0px;
border-radius: 30px;
opacity: 0px;
background: #CD5C5C;
cursor: pointer;

}
.buttons{
    position:absolute;
    margin-top: -4%;
    margin-left:89%;
    border: 0px;
    width: 3%;
}
.button1{
    width: 20%;
height: 30px;
margin-top: 3%;
margin-left:43%;
gap: 0px;
border-radius: 30px;
opacity: 0px;
background: #CD5C5C;
cursor: pointer;
}
.button1:hover{
    transform: scale(1.1);
}
.black-box{
    width: 100%;
    height:7%;
    background-color: black;
    margin-top: 7.5%;
}
.login-form button:hover{
    transform: scale(1.1);
}

.forget1{
    display: block;
    padding: 0%;
    margin-left: 70%;
    margin-top: -29px;
}
.forget1:hover{
    text-decoration: underline;
    color: black;
}

.cart-sec{
    display: flex;
    border-radius: 0 0 30px 30px;
    flex-direction: row;
    padding: 0%;
    margin-top: 2%;
    margin-left: 63.3%;
    width: 35%;
    height: 30%;
}
.text2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top:0.7%; 
    margin-left: 0%;
    position:absolute;
    background-color: white; /* Button color */
    padding-top: 0%;
    color: black;
    border: none;
    border-radius: 0 0 0 30px;
    cursor: pointer;
    position: relative;
}

.text2:hover{
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); Add shadow on hover */
    border: 1px solid black;
    padding-left: 2%;
    padding-top: 0.5%;
}
.no-hover:hover {
    border: none; /* Remove border on hover */
    
    padding-left: 2%; /* Reset padding-left on hover */
    padding-top: initial; /* Reset padding-top on hover */
    background-color: #CD5C5C;
}
@media only screen and (min-width:1000px) and (max-width:1200px){
    .login-form input{
        position: absolute;
        width: 23%;
        margin-top: -4%; /* Remove negative margin-top */
    margin-left: 12%;
    }
}

@media only screen and (min-width:300px) and (max-width:417px){
   
   
    
    .login-form input{
        
        width: 23%;
        height:2%;
        margin-top: -9.5%; /* Remove negative margin-top */
        margin-left: 10% ;
    }
    .login-container{
        width: 50%;
        height: 40%;
        margin-top: 25%;
        margin-left: 14%;
    }
    .text1{
        
    font-size: 20px;
    width: 294px;
    height: 65px;
    margin-top: -30%;
    margin-left: 10%;
    }
    .login-form button{
        width: 50%;
    height: 30px;
    margin-top: 25%;
    margin-left:25%;
    }
    .black-box{
        
         /* Adjust height of black box */
        margin-top: 0% !important;
        margin-bottom: 0% !important;
       
    }
    .forget1{
        font-size: 10px;
    margin-left: 50%;
    margin-top: -35%;
    white-space: nowrap;
    }
    .login{
        margin-top: -22%;
        margin-left:20% ;
    }
    .login-form label{
        margin-top: -15%;
        padding: 14%;
        margin-left: 5%;
    }
    .basictxt-signup{
        margin-top: 29% !important;
        font-size: 10px ;
        white-space:normal;
        word-wrap:break-word;
    }
    .basictxt-contact{
        margin-top: 28%;
        font-size: 20px !important;
        margin-left: 25% !important;
    }
    .button1{
        width: 50%;
    height: 30px;
    margin-top: 2%;
    margin-left:25%;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    background: #CD5C5C;
    cursor: pointer;
    }
    
}
